footer{

    margin-top:100px;
    font-family:'Roboto', sans-serif;
    font-size: small;
    a{
        color: rgb(80, 80, 80);
    }
    button{
        &:hover {
            @include li-lettersHover2
          }
    }
}
