body{
    padding:0px 60px;
}
nav{
    display: flex;
    align-items: center;


}
@media screen and (min-width: 553px) and (max-width: 903px) {
    nav{
        flex-direction: column;
        align-items: start;

    }


}
.cont-img{
    width:130px;
    img{
        width:100%;

    }
}
.cont-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cont-list{

    ul{
        display: flex;
        li{
            margin:$head-margin;
            @include li-letters;
            &:hover {
                @include li-lettersHover 
              }
              
        }
    }

}
.cont-end{
    display: flex;
    align-items: center;
    p{
        @include li-letters;
        &:hover {
            @include li-lettersHover 
        }
        
    }
    i{
        margin:$head-margin;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }
    div{
        width:30px;
        cursor: pointer;
        img{
            width: 100%;

        }
    }
}
