body{
    padding:0px 60px;
}
#body-service{
    padding: 0px;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color: #141414;
    z-index: 5;
}
nav{
    display: flex;
    align-items: center;
    margin-top: 13px;

}
@media screen and (min-width: 553px) and (max-width: 903px) {
    nav{
        flex-direction: column;
        align-items: start;

    }


}
.cont-img{
    width:130px;
    img{
        width:100%;

    }
}
.cont-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cont-list{

    ul{
        display: flex;
        li{
            margin:$head-margin;
            @include li-letters;
            &:hover {
                @include li-lettersHover 
              }
              
        }
    }

}
.cont-end{
    display: flex;
    align-items: center;
    p{
        @include li-letters;
        &:hover {
            @include li-lettersHover 
        }
        
    }
    i{
        margin:$head-margin;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }
    div{
        width:30px;
        cursor: pointer;
        img{
            width: 100%;

        }
    }
}
// service page 
.service {
    font-family: 'Roboto', sans-serif;
    color: rgb(121, 123, 124);

    button{
        &:hover {
            @include li-lettersHover2
          }
    }
}
.cont-img1{

    img{
        width:100%;

    }
}