@mixin li-letters {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:rgb(211, 209, 209)
  }
  @mixin li-lettersHover {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
  }
  @mixin li-lettersHover1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
  }
  @mixin li-lettersHover2 {
    color: rgb(255, 255, 255);
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  