@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #141414;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 0px 60px;
}

#body-service {
  padding: 0px;
}

header {
  position: sticky;
  top: 0;
  background-color: #141414;
  z-index: 5;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

@media screen and (min-width: 553px) and (max-width: 903px) {
  nav {
    flex-direction: column;
    align-items: start;
  }
}
.cont-img {
  width: 130px;
}
.cont-img img {
  width: 100%;
}

.cont-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cont-list ul {
  display: flex;
}
.cont-list ul li {
  margin: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: rgb(211, 209, 209);
}
.cont-list ul li:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.cont-end {
  display: flex;
  align-items: center;
}
.cont-end p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: rgb(211, 209, 209);
}
.cont-end p:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
.cont-end i {
  margin: 15px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.cont-end div {
  width: 30px;
  cursor: pointer;
}
.cont-end div img {
  width: 100%;
}

.service {
  font-family: "Roboto", sans-serif;
  color: rgb(121, 123, 124);
}
.service button:hover {
  color: rgb(255, 255, 255);
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.cont-img1 img {
  width: 100%;
}

h2 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.trending {
  margin-top: 20px;
}
.trending h2 {
  color: antiquewhite;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  width: 170px;
}

.first-part {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.second-part {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  color: white;
}
.second-part i {
  margin-left: 20px;
}
.second-part i:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.titolo {
  display: flex;
  align-items: center;
}
.titolo h1 {
  color: antiquewhite;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  width: 170px;
}

.dropdown {
  font-family: "Roboto", sans-serif;
}
.dropdown button {
  font-size: 13px;
}
.dropdown button:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}
.dropdown ul li {
  font-size: 13px;
}
.dropdown ul li:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}

.wrapper section .item {
  padding: 0 2px;
  transition: 250ms all;
}

.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display: none;
  }
}
.settings-body {
  padding: 0px;
}

.cont-img2 {
  width: 40px;
}
.cont-img2 img {
  width: 100%;
}

#h2settings {
  color: black;
}

#all {
  width: 100%;
  background-color: #fff;
}

footer {
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: small;
}
footer a {
  color: rgb(80, 80, 80);
}
footer button:hover {
  color: rgb(255, 255, 255);
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */