
$text-color: #f4f4f4;
$btn-primary-bg-color: #0e6cff;
$btn-secondary-bg-color: #ff8700;
$btn-tertiary-bg-color: #4caf50;
$bg-hero: #640fc5;
$bg-body: black;
$bg-sections: #303030;
$bg-sections-alt: #404040;