@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    color: brown;
    padding:10px 10px;

}
.b-container{
    display: flex;
  }
@media screen and (max-width: 760px) {
    .wrapper {
        flex-direction: column;
    }
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;

}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: bolder;

}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-size: 1rem;
    font-weight: bolder;
    margin:30px 0;

}
p{
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 600px) {
    h1,
    h2 {
      text-align: center;
    }
  }
@media screen and (min-width: 601px) {
    h1 {
      font-size: 44px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 24px;
    }
}


/* barra */
nav{
    background-color: #fef7e2;
    display: flex;
    align-items: center;
    padding: 20px;
  }
nav div{
    margin: 10px;
    background-color: #ffdf7e;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .circle{
    flex: 1 0 100px;
    height: 50px;
    font-weight: 600;
  }
nav .circle-b{
    height: 100px;
    display: flex;
    padding: 8px;
}
.circle-b img {
    height: 40px;
}
.circle-b .shop{
    font-weight: bold;
    font-size: 20pt;
}

@media screen and (min-width: 600px) {
    nav{
        min-width: 320px;
        min-height: 160px;
        border-radius: 100px;
        flex-wrap: wrap;
        margin: 20px 10px 36px;
    }
    nav .circle-b{
        order: -1;
        flex: 1 1 100%;
    }
  }
@media screen and (min-width: 601px) and (max-width: 760px) {
    nav .circle {
      flex: 1 1 auto;
    }
    nav > * {
      margin: 0 3px;
    }
}
@media screen and (min-width: 761px) {
    nav {
      flex-direction: column;
      max-width: 300px;
      align-items: stretch;
      min-height: 100vh;
    }
  
    nav .circle-b,nav .circle{
      flex-grow: 0;
    }
  
    nav .circle-b {
      display: flex;
      padding: 20px;
      order: -1;
      flex-basis: 50px;
    }
  
    .circle-b img {
      flex: 1 0 60px;
    }
  
    .circle-b .shop {
      flex: 2 1 120px;
      font-size: 22pt;
    }
  }
@media screen and (min-width: 761px) {
    main {
      height: 100vh;
      overflow: auto;
      padding: 24px;
    }
}
/* ARTICLE */

.second-section {
    display: flex;
    flex-wrap: wrap-reverse;
  
    gap: 30px;

    background-color: #fef7e2;
    border-radius: 30px;
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.second-section img {
    flex: 1 1 500px;
    overflow: hidden;
    object-fit: cover;
}
  
.second-section .container-product2 {
    flex: 1 1 400px;
    line-height: 1.4;
}

/* main */
.first-section{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
@media screen and (min-width: 600px) {
    .first-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

    }
  }

.container-product{
    background-color: rgb(231, 231, 130);
    border-radius: 20px;
    margin: 10px 0;
}
@media screen and (min-width: 600px) {
    .container-product{
        margin: 10px 10px;

    }
  }
.foto{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;

}
.text-product{
    padding:10px 50px;
}
.text-honey{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
form{
    margin-top: 10px;
    text-align: center;
}
form button {
    color:brown;
    padding:10px 50px;
    background-color: rgb(255, 170, 0);
    border-radius: 20px;
    border-style: none;

}





.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-product2{
    padding:30px
}
.foto2{
    width: 100%;
    height: 100%;

}
.containerimg2{
    margin-top:30px;

    
}
.container-product2{
    background-color: rgb(231, 231, 130);
    border-radius: 20px;
    margin-top: 10px;

}