/* Your styles here */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;

}
h1 , h2 ,h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1,5;
    font-size: 40px ;
    color: rgb(45, 96, 96);
}
h2{
    font-size: 25px;
}
p{
    font-size: 23px;
}

* {box-sizing: border-box;}

header{
    background-color: black;
    padding: 40px 100px;
    
}
header img{
    width: 190px;
    box-sizing: border-box;
}
.imgbanner{
    background-image: url(../images/banner.jpg);
    padding: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;


    
}

.marginr h1{
    margin: 30px 0;
}
.marginr  form{
    margin: 30px 0;
}
.marginr form a{
    background-color: rgba(255, 115, 1, 0.54);
    border-radius: 7px;
    text-decoration: none;
    padding: 5px 30px ;
    color: white;
}
.spazio-ok{
    margin: 30px;
}
.spazio-ok .ah2{
    margin-top: 100px;
}
.border-lat{
    border: 20px  black;
    box-shadow: 1px 1px 1px #000;
    
}

.rotondo{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.imgbanner2{
    background-color: rgba(222, 43, 7, 0.86);
    padding: 50px 50px;
}
#t-arancione{
    color: white;
}
.marginr .let-bi{
    color: white;

}
.contenitore{
    border: 1px solid #d0caca;
    margin:40px 30px;

}
.contenitore .lettere-aside{
    padding: 30px;

}
.img-aside{
    width: 439px;
    position: center;
    
}





footer{
    background-color: rgb(46, 159, 163);
    padding: 40px 100px;
}
#block{
    display: block;
}
#titolofooter{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px ;
    color: rgb(45, 96, 96);
}